<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_LoginProviderFramework>
            <version>0.1.0</version>
        </Hackathon_LoginProviderFramework>
    </modules>
    <global>
        <models>
            <hackathon_loginproviderframework>
                <class>Hackathon_LoginProviderFramework_Model</class>
            </hackathon_loginproviderframework>
        </models>
        <helpers>
            <hackathon_loginproviderframework>
                <class>Hackathon_LoginProviderFramework_Helper</class>
            </hackathon_loginproviderframework>
        </helpers>
    </global>
    <global>
        <events>
            <controller_action_predispatch>
                <observers>
                    <hackathon_loginproviderframework>
                        <type>singleton</type>
                        <class>Hackathon_LoginProviderFramework_Model_Observer</class>
                        <method>controllerActionPredispatch</method>
                    </hackathon_loginproviderframework>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>
    <default>
        <hackathon>
            <loginproviderframework>
                <providers>
                    <testProvider>hackathon_loginproviderframework/sandbox_testProvider</testProvider>
                </providers>
            </loginproviderframework>
        </hackathon>
    </default>
</config>